<div class="card mb-2">
  <div class="card-body">
    <span class="card-subtitle text-muted"><%= reply.user.name %>, <%= reply.created_at.to_fs(:short) %></span>
    <p class="card-text"><%= reply.comment %></p>
  </div>
</div>
