<div class="user">
  <div class="user__fields">
    <div class="user__email">
      <%= link_to user.email, "mailto:#{user.email}" %>
    </div>

    <div class="user__role">
      <%= role_for_display(user) %>
    </div>

    <div class="user__status">
      <%= status_for_display(user) %>
    </div>
  </div>

  <div class="user__button">
    <%= link_to 'Редактировать', edit_user_path(user), class: 'btn btn--primary' %>
  </div>
</div>
