<tr>
  <td class='align-baseline'><%= link_to user.email, "mailto:#{user.email}" %></td>
  <td class='align-baseline'><%= user_role_for_display(user.role) %></td>
  <td class='align-baseline'><%= user_status_for_display(user.status) %></td>
  <td class='align-baseline'><%= link_to 'Редактировать', edit_user_path(user), class: 'btn btn-primary' %></td>
</tr>

