<h2>Пользователи</h2>

<div class='row'>
  <table class='table'>
    <thead>
      <tr>
        <th>Почта</th>
        <th>Роль</th>
        <th>Статус</th>
        <th>Действия</th>
      </tr>
    </thead>
    <tbody>
      <%= render @users %>
    </tbody>
  </table>
</div>
