<tr>
  <td class='align-baseline'><%= department.title %></td>
  <td class='align-baseline'><%= department_status_for_display(department.status) %></td>
  <td class='align-baseline'><%= link_to 'Редактировать', edit_department_path(department), class: 'btn btn-primary' %></td>
</tr>
