<tr>
  <%= form_with model: department, class: "department" do |form| %>
    <td class='align-baseline'>
      <%= form.text_field :title, class: 'form-control' %>
    </td>
    <td class='align-baseline'>
      <%= form.select :status, department_statuses_hash, {}, class: 'form-select' %>
    </td>
    <td class='align-baseline'>
      <%= form.submit 'Отправить', class: 'btn btn-primary' %>
    </td>
  <% end %>
</tr>
