<div class='row'>
  <div class='col' >
    <h2 class='d-inline align-baseline'>Заявки</h2>
    <%= link_to 'Новая заявка', new_ticket_path, class: 'btn btn-primary align-baseline' %>
  </div>
</div>

<div class='row'>
  <table class='table'>
    <thead>
      <tr>
        <th>ID</th>
        <th>Инициатор</th>
        <th>Дата создания</th>
        <th>Отдел</th>
        <th>Статус</th>
        <th>Заголовок</th>
      </tr>
    </thead>
    <tbody>
      <%= render partial: 'tickets/ticket_short', collection: @tickets, as: :ticket %>
    </tbody>
  </table>
</div>
