<div class='row'>
  <div class='col' >
    <h2 class='d-inline align-baseline'>Новая заявка</h2>
    <%= link_to 'К заявкам', tickets_path, class: 'btn btn-light align-baseline' %>
  </div>
</div>

<div class='row'>
  <div class='col-md-6'>
    <%= render "new_form", ticket: @ticket %>
  </div>
</div>
