.user {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  padding: 1rem;
  margin-top: 1rem;
  box-shadow: 1px 1px 2px 1px rgba(0, 0, 0, 0.1)
}

.user__fields {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  flex-grow: 1;
}

.user__fields > * {
  padding-left:  1rem;
  padding-right: 1rem;
}

.user__email {
  width: 33.3%;
}

.user__role {
  width: 33.3%;
}

.user__status {
  width: 33.3%;
}
